nav.nav2{
	display: inline-block;
	text-decoration: none;
	text-align: center;
	background: rgba(102,25,36,0.2);
	overflow: auto;
	padding: 0px auto;
}
a{
	font-family: "DFKai-sb";
	font-size: 18px;
	text-align: center;
	margin: 0px;
}
div.scene1 img, div.scene2 img{
	display: block;
	margin: auto;
}

div.scene1, div.scene2{
	display: flex;
}
