BODY {
	MARGIN: 0px auto;
	FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
	COLOR: #333333;
	font-size:80%;line-height: 155%;
	background-image: url(http://www.taipeitravel.net/frontsite/images/bg.jpg);
	background-repeat: repeat-x;
}
div.apDiv1 {
  list-style: none;
  position:absolute;
  width:51px;
  height:194px;
  z-index:1;
  margin:156px 0px 0px 923px;
  
  }
#apDiv1 li{
  border:1px #cccccc solid;
  list-style: none;
}
DIV.block {
	position:relative;
	FLOAT: left; WIDTH: 212px;
    background:white;
  text-decoration: none;
  
}
nav.nav2{
	display: block;
  position:relative;
  top:100px;
    WIDTH: 913px; 
	text-decoration: none;
	text-align: center;
	background: rgba(102,25,36,0.2);
	overflow: auto;
	padding: 0px auto;
}
div.topimages{
	display: block;
	position:relative ;
	top:100px;
	
  WIDTH: 913px;
}
a{
	font-family: "DFKai-sb";
	font-size: 18px;
	text-align: center;
	margin: 0px;

}


div.scene1 img, div.scene2 img{
	display: block;
	margin: auto;
  
  
 }

div.scene1, div.scene2{
	display: flex;
	width:913px;
}

