BODY {
	
	MARGIN: 0px auto;
	FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
	COLOR: #333333;
	font-size:80%;line-height: 155%;
	background-image: url(http://www.taipeitravel.net/frontsite/images/bg.jpg);
	background-repeat: repeat-x;
}
div.right {
  list-style: none;
  position:relative;
  float:right;
 
  z-index:1;
  margin: 0px ;
  list-style:none;
  }
  div.right ul,li{
  	list-style:none;
  	}
  
  div.left {
  list-style: none;
  position:relative;
  float:left;
  
  
  z-index:1;
  margin:0px ;
  
  }
#apDiv1 li{
  border:1px #cccccc solid;
  list-style: none;
}
DIV.block {
	position:relative;
	 WIDTH: 212px;
    background:white;
  text-decoration: none;
  
}
nav.nav2{
	display: block;
  position:relative;
  top:100px;
    WIDTH: 913px; 
	text-decoration: none;
	text-align: center;
	background: white;
	overflow: auto;
	padding: 0px auto;
}
div.topimages{
	display: block;
	position:relative ;
	top:100px;
	left:210;
	
  WIDTH: 913px;
}
a{
	font-family: "DFKai-sb";
	font-size: 18px;
	text-align: center;
	margin: 0px;

}


div.scene1 img, div.scene2 img{
	display: block;
	margin: auto;
  
  
 }

div.scene1, div.scene2{
	margin: 0px auto;
	display: flex;
	width:913px;
	border:1px solid;
}
main{
	position:positive;
	top:200px;
	display: inline-flex;
	flex-basis: 78%;
	background: white;
	border:1px solid;
}
main
img{
	float: left;
	max-height: 100%;
	margin-left: 6%;
}

main
article{
	
	height: 200%;
	width: 100%;
	padding-top: 0%;
}
ul{width:10em;
	border:1px solid;}
